* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Code';
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol{
  margin: 0;
  padding: 0;

}
article{
  ol{
    list-style-position: inside;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:focus{
    outline: none;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  &:focus {
    outline: none;
  }
}

input {
  border: 0;
  &:focus {
    outline: none;
  }
  &[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  &[type="search"]:focus::placeholder{
    color: transparent;
  }
}

h1, h2, h3, h5{
  margin: 0;
}


figure{
  margin: 0;
}

label{
  cursor: pointer;
}

blockquote{
  margin: 0;
}

address{
  font-style: normal;
}

fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}
