<header>
    <div class="inner-header content">
        <a href="#" class="logo"></a>
        <nav>
            <ul>
                <li>
                    <a href="#" class="active">{{navTitle[0]}}</a>
                </li>
                <li>
                    <a href="#">{{navTitle[1]}}</a>
                </li>
                <li>
                    <a href="#">{{navTitle[2]}}</a>
                </li>
                <li>
                    <a href="#">{{navTitle[3]}}</a>
                </li>
                <li>
                    <a href="#">{{navTitle[4]}}</a>
                </li>
            </ul>
        </nav>
    </div>
</header>