

<div class="content main-slider">
    <swiper [config]="config">
        <div>
           <div class="slider-inner">

           </div>
        </div>
        <!--<div>-->
            <!--Swiper slide content-->
        <!--</div>-->
        <!--<div>-->
            <!--Swiper slide content-->
        <!--</div>-->
        <!--<div>-->
            <!--Swiper slide content-->
        <!--</div>-->
        <!--<div>-->
            <!--Swiper slide content-->
        <!--</div>-->
    </swiper>
</div>
